
@model List<BoggleGame.Models.ButtonModel>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
 <head>
 </head>
 <body>
    
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.Label("Lets play with buttons")
    @using (Html.BeginForm("HandleButtonClick", "Home")){
        for (int i = 0; i < Model.Count; i++)
        {
            if (i%5 == 0)
            {
                <br />
            }

            <button style = "background-color: lavender" type = "submit" name="mine" value=@i>
                @if(Model[0].State == true)
                {
                    <label>A</label>
                }
                else if(Model[1].State == false)
                {
                    <label>B</label>
                }
            </button>
        }
    }


</div>
</body>
</html>
